#list-todo li {
    display: flex;
}
#list-todo .item.title {
    flex-basis: 20%;
}

#list-todo .item.description {
    flex-basis: 50%;
}

input[type='checkbox']{
    width: 20px;
}

li.done {
    text-decoration: line-through;
}