.main-container {
    padding-top: 0;
}

/* SIDEBAR  */

.sidebar-item {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.sidebar-header {
    border-bottom: 1px solid #eeeeee;
    padding: 1rem;
}
.sidebar-header h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.sidebar-content {
    padding: 1rem;
}
.sidebar-content span {
    display: block;
}
.sidebar-content span a {
    display: inline-block;
    padding-bottom: 0.6rem;
    color: #121212;
    text-decoration: none;
}
.sidebar-content span:before {
    display: inline-block;
    cursor: pointer;
    content: " ";
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 2px;
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.sidebar-content span:hover a {
    color: #f26a19;
}

.category-wrapper {
    background: none!important;
}

/* CATEGORY CONTENT  */
.category-content {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 0;
}

/* CATEGORY NAME  */

.category-name {
    font-size: 24px;
    padding: 10px 0;
    font-weight: 600;
    margin: 0;
    padding-left: 1rem;
    color: #121212;
}

/* CATEGORY SLIDEBAR  */
.sidebar-box {
    padding-left: 0;
}
.category-slidebar {
    padding-right: -15px;
    padding-left: -15px;
}
.category-slidebar img{
    max-width: 100%;
    height: auto;
}

/* SORT LIST  */
.sort-list {
    margin-top: 15px;
    border-bottom: 1px solid #eeeeee;
}
.sort-list li {
    display: inline-block;
}

.sort-list li a {
    display: inline-block;
    padding: 8px 0px;
    margin-left: 25px;
    color: #121212;
    text-decoration: none;
    font-size: 15px;
}

.sort-list li a:hover {
    color: #f26a19;
}
.sort-list li a.active {
    color: #f26a19;
    font-weight: 600;
    border-bottom: 2px solid #f26a19;
}

/* CATEGORY PRODUCT LIST  */
.product-list {
    padding-bottom: 10px;
}
.product-list .book-item {
    padding-left: 0;
    padding-right: 0;
}


.detail-support {
    padding-top: 30px;
    border-top: 1px solid #666666;
    margin-top: 30px;
}




