.main-container {
    background: #eeeeee;
}

.checkcart-container {
    padding-top: 20px;
}

/* progressbar  */

.progressbar-box {
    padding: 20px 0;
    margin-bottom: 20px;
}
.progressbar {
    display: flex;
    counter-reset: step;
}
.progressbar li {
    width: 33.3%;
    position: relative;
    text-align: center;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    line-height: 30px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 2;
 
}
.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #ff6500;
}
.progressbar li.active:before {
    background: #ff6500;
    color: #fff;
    border: #ff6500;
}
.cart-shadow {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
    margin: 20px 0;
}
.cart-item {
   
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 15px;
}

.product-image {
    flex-basis: 15%;
    min-width: 78px;
}

.cart-item .product-image img {
    max-width: 100%;
}
.product-info {
    flex-basis: 30%;
}
.number-cart {
    flex-basis: 20%;
}
.price-total {
    flex-basis: 15%;
    font-size: 20px;
    font-weight: bolder;
}
.btn-delete {
    flex-basis: 5%;
    color: rgb(184, 184, 184);
}
.product-info .product-title h3{
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.product-info .new-price {
    color: #000;
    font-size: 18px;
    display: block;
}
.quantity {
    display: inline-flex;
}
.quantity .minus, .quantity .plus {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.quantity .qty {
    width: 50px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    border-left: none;
    border-right: none;
}

.cart-right {
    margin-right: 20px;
    padding: 15px;
}

.coupon-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.coupon-desc {
    font-size: 13px;
    color: rgb(145, 144, 144);
}

.coupon-select {
    color: #3498db;
    text-decoration: underline;
}





