.product-image {
    flex-basis: 13%;
    min-width: 78px;
}

.card-left .product-image img {
    max-width: 100%;
}
.product-info {
    flex-basis: 38%;
}
.number-cart {
    flex-basis: 20%;
}
.product-price-total {
    flex-basis: 15%;
    font-size: 20px;
    font-weight: bolder;
}
.btn-delete {
    flex-basis: 5%;
    color: rgb(184, 184, 184);
}
.product-info .product-title h3{
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.product-info .new-price {
    color: #000;
    font-size: 18px;
    display: block;
}
.quantity {
    display: inline-flex;
}
.quantity .minus, .quantity .plus {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.quantity .qty {
    width: 50px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    border-left: none;
    border-right: none;
}



.coupon-header .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}
.coupon-desc {
    font-size: 13px;
    color: rgb(145, 144, 144);
}

.coupon-select {
    color: #2980b9;
}


