.main-container {
    padding-top: 0;
}

.detail-book, .related-book, .desc-detail, .book-attribute {
    margin-bottom: 20px;
}
/* DETAIL BOOK  */
.image-book-detail {
    flex-basis: 35%;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #e4e4e4;
}

.image-book-detail img {
    width: 100%;
}

.content-book-detail {
    flex-basis: 65%;
    position: relative;
    padding: 20px;
}

.content-book-detail .book-title h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    font-family: 'Roboto',sans-serif !important;
    line-height: 1.5em;
    overflow-wrap: break-word;
    padding-bottom: 8px;
    margin: 0;
}
.rating-box, .number-cart {
    margin-top: 0;
    margin-bottom: 20px;
}

.number-cart {
    padding: 20px;
    background: #f0f0f0;
    border-radius: 4px;
}
.order-btn-box {
    margin: 30px 0 20px 0;
}

.card-price .old-price {
    margin-left: 30px;
    font-size: 14px;
}
.card-price .new-price {
    margin-left: 30px;
    font-size: 24px;
    margin-bottom: 20px;
}


.quantity .minus {
    margin-left: 30px;
}

.buy-now, .add-to-cart {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    width: 200px;
}


.buy-now {
    background: #FC4B4B;
    margin-right: 10px;
}

.add-to-cart {
    background: #f26a19;
}



/* DESC DETAIL  */
.desc-content{
    padding-bottom: 20px;
}
.desc-content h3{
    font-size: 16px;
    font-weight: bold;
}
.desc-content h3, .desc-content p {
    margin: 20px 30px;
}

/* ATTRIBUTE CONTENT  */
.attribute-content {
    padding: 20px 30px;
}
.attribute-content p {
    /* margin-left: 30px; */
    margin: 5px 0;
}

.detail-event-cart {
    margin-top: 20px;
}
.event-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.event-item {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    color: #2F80ED;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.event-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    margin-right: 10px;
    background: #2F80ED;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    font-size: 9px;
}
.event-item::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
    padding-left: 3px;
}
