/* Thuộc tính chung */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none!important;
}
.main {
    position: relative;
}
.main .btn-back-top {
    position: fixed;
    background: #f26a19;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 0.2);
    transition: all 0.4s ease;
}
.main .btn-back-top:hover {
    background:#f1c40f;
}
/* HEADER  */

.header-box {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu-box {
    display: flex;
    flex: 1;
    justify-content: center;
}
/* LOGO HEADER  */
.header-logo {
    height: 60px;
    line-height: 60px;
    padding: 0;
    flex-basis: 195px;
}

/* MAIN MENU  */
.main-menu-box, .main-menu, .main-menu > li, .main-menu li > a, .search-wp {
    height: 60px;
}
.main-menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.main-menu > li {
    line-height: 60px;
    margin: 0 15px;
    position: relative;
}
.main-menu li:hover > a{
    color: #f26a19;
}
.main-menu li > a {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Open Sans',arial,sans-serif;
    color: #121212;
    font-size: 14px;
    font-weight: 700;
}
.main-menu li > a i {
    position: relative;
    top: -2px;
    padding-left: 5px;
}

.dropdown-menu {
    border-radius: 0!important;
    line-height: normal;
}
.dropdown-menu > a {
    transition: 0.2s;
}
.dropdown-menu > a:hover {
    color: #f26a19;
    background: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

/* SEARCH HEADER  */
.search-logo i, .cart-logo i {
    font-size: 18px;
    color: #212529;
    cursor: pointer;
}

.search-logo i:hover, .cart-logo i:hover {
    color: #f26a19;
}

.search-wp {
    position: relative;
    line-height: 60px;
    width: 60px;
    text-align: center;
}
.search-box {
    background: #f7f7f7;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 350px;
    padding: 15px 15px 15px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top: 4px solid #f26a19;
    z-index: 2;
    line-height: normal;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translate3d(0,20px,0);
    -webkit-transform: translate3d(0,20px,0);
    pointer-events: none;
}
.dropdown-search-open {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    pointer-events: auto;
    z-index: 3;
}
.search-box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #f26a19;
    top: -13px;
    right: 13px;
}

.search-box input[type="text"]{
    width: 230px;
    padding: 5px 10px;
    border: 1px solid #f26a19;
    outline: none;
} 
.search-box a{
    display: inline-block;
    text-align: center;
    width: 80px;
    padding: 5px 0;
    background: #f26a19;
    border: 1px solid #f26a19;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-left: -6px;
}



/* USER CART  */

.user-wp {
    display: flex;
    flex-basis: 135px;
    justify-content: flex-end;
}
.user-login a{
    display: inline-block;
    padding: 5px 13px;
    border: 1px solid #666666;
    color: #000;
    border-radius: 3px;
    background: linear-gradient(to left, #fff 50%, #000 50%) right;
    background-size: 200%;
    transition: all 0.7s cubic-bezier(0.5,1.6,0.4,0.7);
}

.user-login:hover a {
    background-position: left;
    color: #fff;
}



.cart-box {
    padding: 5px 7px 5px 10px;
    position: relative;
}
.order-number {
    position: absolute;
    top: -6px;
    right: -2px;
    background: #FC4B4B;
    color: #FFF;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}


/* FOOTER  */
.footer {
    font-family: 'Open Sans',arial,sans-serif;
}
.footer-top {
    background: #222;
}
.footer-top {
    padding: 26px 0;
}
.footer-top .container {
    padding: 0px 60px;
}
.social-item .social-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    transition: all 0.4s ease;
    user-select: none;
}
.social-item i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background: #ffffff08;
    border-radius: 50%;
    color: #fff;
    transition: all 0.4s ease;
    text-align: center;
}
.social-item:nth-child(1):hover i, .social-item:nth-child(1):hover .social-name{color: #166fe5;}
.social-item:nth-child(2):hover i, .social-item:nth-child(2):hover .social-name{color: #d64a72;}
.social-item:nth-child(3):hover i, .social-item:nth-child(3):hover .social-name{color: #006097;}
.social-item:nth-child(4):hover i, .social-item:nth-child(4):hover .social-name{color: #bd081c;}
.social-item:nth-child(5):hover i, .social-item:nth-child(5):hover .social-name{color: #ff4500;}
.social-item:nth-child(6):hover i, .social-item:nth-child(6):hover .social-name{color: #08a0e9;}

.footer-bottom {
    font-size: 12px;
    color: #ccc;
    padding: 10px 0;
    background: #0d0d0d;
    
}
.footer-bottom .footer-copy {
    text-align: left;
}
.footer-bottom .footer-submenu {
    text-align: right;
}
.footer-submenu ul li {
    display: inline-block;
}
.footer-submenu ul li a {
    display: inline-block;
    color: #ccc;
    font-size: 13px;
    margin-left: 15px;
    transition: all 0.4s ease;
}
.footer-submenu ul li a:hover {
    color: #f26a19;
}
/* Book item  */

.book-item {
    transition: 0.3s;
}

.book-item:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.book-item img {
    max-width: 100%;
}

.book-image {
    padding: 20px 25px 15px 25px;
}
.book-image a {
    display: inline-block;
}
.book-image img {
    max-width: 100%;
}

.book-info {
    padding: 5px 5px 20px 25px;
}
.book-title {
    text-decoration: none!important;
}
.book-title h3{
    font-size: 14px;
    font-weight: 700;
    /* height: 42px; */
    color: #222;
    margin-bottom: 3px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-price {
    font-size: 18px;
    font-weight: 700;
    color: #ff9601;
    display: inline-block;
    margin-right: 3px;
}

.old-price {
    font-size: 12px;
    color: #716b6b;
    text-decoration: line-through;
    display: inline-block;
}

.rating-box {
    margin-top: 3px;
    font-size: 12px;
}

.rating-box i {
    color: #f1c40f;
}

/* OWL CAROUSEL PREV NEXT BUTTON  */

.owl-prev, .owl-next {
    width: 30px;
    height: 60px;
    position: absolute;
    background: #dbd0d0!important;
    color: #fff!important;
    position: absolute;
    top: 40%;
    outline: none;
    z-index: 10;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    opacity: .9;
    cursor: pointer;
    outline: none!important;
    transition: 0.3s;
    opacity: 0.5;
}

.owl-prev:hover, .owl-next:hover {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    background: #a8a8a8!important;
    opacity: 0.8;
}
.container .owl-carousel .owl-nav .owl-prev {left: 0;}
.container .owl-carousel .owl-nav .owl-next {right: 0;}
.owl-prev.disabled, .owl-next.disabled {display: none;}
.owl-dots {display: none;}

/* SECTION BOX  */

/* section header title  */
.section-header {
    min-height: 50px;
    padding: .5rem .9em .7em 1.7em;
    border-bottom: 1px solid #eeeeee;
}

.section-header .section-title {
    font-weight: 550;
    font-size: 16px;
    color: #121212;
    text-transform: uppercase;
    line-height: 1.5;
}

.section-tag ul li {
    display: inline-block;
}

.section-tag ul li a {
    display: inline-block;
    background: #eeeeee;
    padding: 5px 15px;
    margin-left: 10px;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(0 0 0 / 8%);
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    transition: .3s ease-out;
}

.section-tag ul li a:hover {
    background: #f26a19;
    color: #fff;
}


/* BREADCRUMB  */
ol.breadcrumb, ul.breadcrumb {
    margin-bottom: 0;
    background: none!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #999;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
    font-size: 11px;
}
.breadcrumb-item a {
    color: #999;
}
.breadcrumb-item.active {
    color: #333;
}
.breadcrumb-item:hover a {
    color: #333;
}

/* progressbar  */

.progressbar-box {
    padding: 20px 0;
}
.progressbar {
    display: flex;
    counter-reset: step;
}
.progressbar li {
    width: 33.3%;
    position: relative;
    text-align: center;
    color: #999999;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    display: block;
    text-align: center;
    line-height: 30px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #999999;
    color: #fff;
    position: relative;
    z-index: 2;
 
}
.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #ff6500;
}
.progressbar li.active:before {
    background: #ff6500;
    color: #fff;
    border: #ff6500;
}
.progressbar li.active:after{
    background-color: #ff6500;
}


/* SAVE AND COUNTINUE  */

.save-and-countinue {
    display: block;
    background: #FC4B4B;
    color: #fff!important;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    width: 100%;
    margin-right: 20px;
    outline: none;
    transition: .3s;
    text-align: center;
    cursor: pointer;
}

.save-and-countinue:hover {
    background-color: #e64141;
}


/* CART PRICE PAGE  */

.order-info .item, .price-info .item, .price-total .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
}

.card-left, .card-right {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
    margin: 20px 0;
}
.card-left {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.card-right {
    margin-right: 20px;
    padding: 15px;
}

.price-info, .order-info {
    border-bottom: 1px solid #ddd;
}

.price-total {
    margin-top: 15px;
}

.item-price {
    font-weight: bold;
}

.price-total .item .item-price {
    font-weight: bold;
    color: #FC4B4B;
    font-size: 22px;
}

.price-total .item {
    margin-bottom: 0;
}
.btn_next, .btn-payment {
    background: #FC4B4B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    width: 100%;
    margin-right: 20px;
    outline: none;
}
.card-right:last-child {
    padding: 0;
}

.payment-method input {
    margin-right: 10px;
}

.main-container {
    background: #eeeeee;
    padding: 20px 0 60px 0;
    min-height: 820px;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.main-container .container {
    margin-bottom: 20px;
    background: #fff;
}
.main-container .container:last-child {
    margin-bottom: 60px;
}
.breadcrumb-box.container {
    margin-bottom: 0;
    background: none;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

/* PAGINATION  */

.nav-pagination {
    margin-bottom: 10px;
}
.pagination .page-item {
    margin-left: 15px;
    
}

.pagination .page-item .page-link {
    border-radius: 4px;
    color: #121212;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.pagination .page-item .page-link i {
    font-size: 11px;
}

.pagination .page-item .page-link:hover {
    color: #f26a19;
    border:1px solid #f26a19;
    background: #fff;
}

.pagination .page-item .page-link.current {
    color: #fff;
    background: #f26a19;
}


.price-box {
    padding: 0 20px;
}
/* QUANTITY  */

.quantity {
    display: inline-flex;
}
.quantity .minus, .quantity .plus {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
}
.quantity .minus {
    border-radius: 5px 0 0 5px;
}
.quantity .plus {
    border-radius: 0 5px 5px 0;
}
.quantity .qty {
    font-size: 18px;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #c9c9c9;
    text-align: center;
    border-left: none;
    border-right: none;
    background-color: #fff;

}