/* Thuộc tính chung */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none!important;
}

/* HEADER  */

.header {
    background: #334862;
    position: relative;
    z-index: 999;
}

/* Header top  */

.header-top {
    position: relative;
    text-align: right;
    padding: 8px 0;
}

.header-top .quote {
    font-size: 14px;
    padding: 8px 0;
}

.header-top .top-item ul li {
    display: inline-block;
    padding: 0px 10px;
    border-left: 1px solid #48787c;
}

.header-top .top-item ul li a {
    text-transform: uppercase;
    color: #ffffffcc;
    display: inline-block;
    text-decoration: none;
}

.header-top .top-item ul li a:hover {
    color: #fff;
}

.header-top .top-item ul li:first-child {
    border: none;
}

.header-top .top-item ul li:last-child a {
    padding-left: 5px;
}

/* Header bottom  */

#header-bottom {
    background: #FFF;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

/* Logo  */

#logo {
    padding-top: 18px;
    text-align: center;
}

/* Main menu  */

.main-menu {
    font-family: 'Merriweather', serif;
    padding-top: 12px;
    text-align: center;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.main-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 12px;
}

.main-menu ul li i {
    display: inline-block;
}

.main-menu ul li i:hover {
    cursor: pointer;
    color: #f26a19;
}

.main-menu ul li a:hover {
    color: #f26a19;
}

.main-menu ul li:hover .sub-menu {
    display: block;
}

.main-menu ul li a i {
    padding: 0 0 0 5px;
    position: relative;
    bottom: 3px;
}

.main-menu ul li .sub-menu {
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 10;
}

.main-menu .active a {
    color: #f26a19;
}

/* Sub menu  */

.sub-menu {
    display: none;
}

.sub-menu ul li {
    padding-right: 10px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ecf0f1;
}

.sub-menu {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.sub-menu ul li a {
    font-size: 1em;
    text-transform: none;
    font-weight: normal;
    white-space: nowrap
}

.sub-menu ul li a:hover {
    background: none;
    color: #f26a19;
}

.opacity-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.53);
    z-index: 998;
    display: none;
}

/* FOOTER  */

.footer {
    text-align: center;
}

.footer ul li {
    display: inline-block;
    text-align: center;
}

.footer ul li a {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.footer-top {
    background: #434343;
}

.footer-top ul li a {
    color: #FBF9F9;
    padding: 15px 50px;
}

.footer ul li a:hover {
    color: #f26a19;
}

.footer-bottom {
    background: #000;
}

.footer-bottom ul li a {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
}

/* Book item  */

.book-item {
    transition: 0.3s;
}

.book-item:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.book-item img {
    max-width: 100%;
}

.book-image {
    padding: 20px 25px 15px 25px;
}

.book-image img {
    max-width: 100%;
}

.book-info {
    padding-bottom: 20px;
    padding: 0px 5px 10px 25px;
}
.book-title {
    text-decoration: none!important;
}
.book-title h3{
    font-size: 14px;
    font-weight: 700;
    color: #222;
    margin-bottom: 3px;
    line-height: 1.5;
}

.new-price {
    font-size: 18px;
    font-weight: 700;
    color: #ff9601;
    display: inline-block;
    margin-right: 3px;
}

.old-price {
    font-size: 12px;
    color: #716b6b;
    text-decoration: line-through;
    display: inline-block;
}

.rating-box {
    margin-top: 3px;
    font-size: 12px;
}

.rating-box i {
    color: #f1c40f;
}

/* OWL CAROUSEL PREV NEXT BUTTON  */

.owl-prev, .owl-next {
    width: 30px;
    height: 60px;
    position: absolute;
    background: #fff;
    color: #707070;
    position: absolute;
    top: 40%;
    outline: none;
    z-index: 10;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
    opacity: .9;
    cursor: pointer;
    outline: none!important;
    transition: 0.3s;
}

.owl-prev:hover, .owl-next:hover {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 80%);
}

.section-box .owl-carousel .owl-nav .owl-prev {
    /* border-radius: 0 100px 100px 0; */
    left: 0;
    /* padding-right: 10px!important; */
}

.section-box .owl-carousel .owl-nav .owl-next {
    /* border-radius: 100px 0px 0px 100px; */
    right: 0;
    /* padding-left: 10px!important; */
}

.owl-prev.disabled, .owl-next.disabled {
    display: none;
}

.owl-dots {
    display: none;
}

/* SECTION BOX  */

.section-box {

    background: #fff;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}


/* section header title  */
.section-header {
    min-height: 50px;
    padding: .5rem .9em .7em 1.7em;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eeeeee;
}

.section-header .section-title {
    font-weight: 550;
    font-size: 16px;
    color: #121212;
    text-transform: uppercase;
    line-height: 1.5;
}

.section-tag ul li {
    display: inline-block;
}

.section-tag ul li a {
    display: inline-block;
    background: #eeeeee;
    padding: 5px 15px;
    margin-left: 10px;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(0 0 0 / 8%);
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    transition: .3s ease-out;
}

.section-tag ul li a:hover {
    background: #f26a19;
    color: #fff;
}


/* BREADCRUMB  */
.breadcrumb {
    margin-bottom: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #999;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
    font-size: 11px;
}
.breadcrumb-item a {
    color: #999;
}
.breadcrumb-item.active {
    color: #333;
}
.breadcrumb-item:hover a {
    color: #333;
}
