/* Thuộc tính chung */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin: 0;
}
a {
    text-decoration: none!important;
}

/* HEADER  */

.header {
    background: #334862;
    position: relative;
    z-index: 999;
}

/* Header top  */

.header-top {
    position: relative;
    text-align: right;
    padding: 8px 0;
}

.header-top .quote {
    font-size: 14px;
    padding: 8px 0;
}

.header-top .top-item ul li {
    display: inline-block;
    padding: 0px 10px;
    border-left: 1px solid #48787c;
}

.header-top .top-item ul li a {
    text-transform: uppercase;
    color: #ffffffcc;
    display: inline-block;
    text-decoration: none;
}

.header-top .top-item ul li a:hover {
    color: #fff;
}

.header-top .top-item ul li:first-child {
    border: none;
}

.header-top .top-item ul li:last-child a {
    padding-left: 5px;
}

/* Header bottom  */

#header-bottom {
    background: #FFF;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

/* Logo  */

#logo {
    padding-top: 18px;
    text-align: center;
}

/* Main menu  */

.main-menu {
    font-family: 'Merriweather', serif;
    padding-top: 12px;
    text-align: center;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.main-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 12px;
}

.main-menu ul li i {
    display: inline-block;
}

.main-menu ul li i:hover {
    cursor: pointer;
    color: #f26a19;
}

.main-menu ul li a:hover {
    color: #f26a19;
}

.main-menu ul li:hover .sub-menu {
    display: block;
}

.main-menu ul li a i {
    padding: 0 0 0 5px;
    position: relative;
    bottom: 3px;
}

.main-menu ul li .sub-menu {
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 10;
}

.main-menu .active a {
    color: #f26a19;
}

/* Sub menu  */

.sub-menu {
    display: none;
}

.sub-menu ul li {
    padding-right: 10px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ecf0f1;
}

.sub-menu {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.sub-menu ul li a {
    font-size: 1em;
    text-transform: none;
    font-weight: normal;
    white-space: nowrap
}

.sub-menu ul li a:hover {
    background: none;
    color: #f26a19;
}

.opacity-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.53);
    z-index: 998;
    display: none;
}

/* FOOTER  */

.footer {
    text-align: center;
}
.footer ul {
    display: flex;
    flex-wrap: nowrap;
}

.footer ul li:nth-of-type(1) {flex-grow: 4;flex-basis: 0;}
.footer ul li:nth-of-type(2) {flex-grow: 4;flex-basis: 0;}
.footer ul li:nth-of-type(3) {flex-grow: 5;flex-basis: 0;}
.footer ul li:nth-of-type(4) {flex-grow: 4;flex-basis: 0;}
.footer ul li:nth-of-type(5) {flex-grow: 4;flex-basis: 0;}

.footer ul li {
    display: inline-block;
    text-align: center;
}

.footer ul li a {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.footer-top {
    background: #434343;
}

.footer-top ul li a {
    color: #FBF9F9;
}

.footer-bottom ul li a {
    color: #fff;
    text-transform: uppercase;
}

.footer ul li a:hover {
    color: #f26a19;
}

.footer-bottom {
    background: #000;
}



/* Book item  */

.book-item {
    transition: 0.3s;
}

.book-item:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.book-item img {
    max-width: 100%;
}

.book-image {
    padding: 20px 25px 15px 25px;
}

.book-image img {
    max-width: 100%;
}

.book-info {
    padding: 5px 5px 20px 25px;
}
.book-title {
    text-decoration: none!important;
}
.book-title h3{
    font-size: 14px;
    font-weight: 700;
    /* height: 42px; */
    color: #222;
    margin-bottom: 3px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-price {
    font-size: 18px;
    font-weight: 700;
    color: #ff9601;
    display: inline-block;
    margin-right: 3px;
}

.old-price {
    font-size: 12px;
    color: #716b6b;
    text-decoration: line-through;
    display: inline-block;
}

.rating-box {
    margin-top: 3px;
    font-size: 12px;
}

.rating-box i {
    color: #f1c40f;
}

/* OWL CAROUSEL PREV NEXT BUTTON  */

.owl-prev, .owl-next {
    width: 30px;
    height: 60px;
    position: absolute;
    background: #fff;
    color: #707070;
    position: absolute;
    top: 40%;
    outline: none;
    z-index: 10;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
    opacity: .9;
    cursor: pointer;
    outline: none!important;
    transition: 0.3s;
}

.owl-prev:hover, .owl-next:hover {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 80%);
}

.container .owl-carousel .owl-nav .owl-prev {
    /* border-radius: 0 100px 100px 0; */
    left: 0;
    /* padding-right: 10px!important; */
}

.container .owl-carousel .owl-nav .owl-next {
    /* border-radius: 100px 0px 0px 100px; */
    right: 0;
    /* padding-left: 10px!important; */
}

.owl-prev.disabled, .owl-next.disabled {
    display: none;
}

.owl-dots {
    display: none;
}

/* SECTION BOX  */

/* section header title  */
.section-header {
    min-height: 50px;
    padding: .5rem .9em .7em 1.7em;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eeeeee;
}

.section-header .section-title {
    font-weight: 550;
    font-size: 16px;
    color: #121212;
    text-transform: uppercase;
    line-height: 1.5;
}

.section-tag ul li {
    display: inline-block;
}

.section-tag ul li a {
    display: inline-block;
    background: #eeeeee;
    padding: 5px 15px;
    margin-left: 10px;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(0 0 0 / 8%);
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    transition: .3s ease-out;
}

.section-tag ul li a:hover {
    background: #f26a19;
    color: #fff;
}


/* BREADCRUMB  */
ol.breadcrumb, ul.breadcrumb {
    margin-bottom: 0;
    background: none!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #999;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
    font-size: 11px;
}
.breadcrumb-item a {
    color: #999;
}
.breadcrumb-item.active {
    color: #333;
}
.breadcrumb-item:hover a {
    color: #333;
}

/* progressbar  */

.progressbar-box {
    padding: 20px 0;
}
.progressbar {
    display: flex;
    counter-reset: step;
}
.progressbar li {
    width: 33.3%;
    position: relative;
    text-align: center;
    color: #999999;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    display: block;
    text-align: center;
    line-height: 30px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #999999;
    color: #fff;
    position: relative;
    z-index: 2;
 
}
.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #ff6500;
}
.progressbar li.active:before {
    background: #ff6500;
    color: #fff;
    border: #ff6500;
}
.progressbar li.active:after{
    background-color: #ff6500;
}


/* SAVE AND COUNTINUE  */

.save-and-countinue {
    display: block;
    background: #FC4B4B;
    color: #fff!important;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    width: 100%;
    margin-right: 20px;
    outline: none;
    transition: .3s;
    text-align: center;
    cursor: pointer;
}

.save-and-countinue:hover {
    background-color: #e64141;
}


/* CART PRICE PAGE  */

.order-info .item, .price-info .item, .price-total .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
}

.card-left, .card-right {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
    margin: 20px 0;
}
.card-left {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.card-right {
    margin-right: 20px;
    padding: 15px;
}

.price-info, .order-info {
    border-bottom: 1px solid #ddd;
}

.price-total {
    margin-top: 15px;
}

.item-price {
    font-weight: bold;
}

.price-total .item .item-price {
    font-weight: bold;
    color: #FC4B4B;
    font-size: 22px;
}

.price-total .item {
    margin-bottom: 0;
}
.btn_next, .btn-payment {
    background: #FC4B4B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    width: 100%;
    margin-right: 20px;
    outline: none;
}
.card-right:last-child {
    padding: 0;
}

.payment-method input {
    margin-right: 10px;
}

.main-container {
    background: #eeeeee;
    padding: 20px 0 60px 0;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
.main-container .container {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
}
.main-container .container:last-child {
    margin-bottom: 60px;
}
.breadcrumb-box.container {
    margin-bottom: 0;
    background: none;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

/* PAGINATION  */

.nav-pagination {
    margin-bottom: 10px;
}
.pagination .page-item {
    margin-left: 15px;
    
}

.pagination .page-item .page-link {
    border-radius: 4px;
    color: #121212;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.pagination .page-item .page-link i {
    font-size: 11px;
}

.pagination .page-item .page-link:hover {
    color: #f26a19;
    border:1px solid #f26a19;
    background: #fff;
}

.pagination .page-item.current .page-link {
    color: #fff;
    background: #f26a19;
}