
.main-container {
    background: none;
    padding: 0;
    background-image: url("../images/background/bg-wallpaper-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.gray-bg .container {
    margin-bottom: 0;
}

.gray-bg {
    background: #eeeeee;
    padding-bottom: 80px;
}

.gray-bg:first-child {
    padding-top: 20px;
    padding-bottom: 50px;
}


.main-container .container:last-child{
    margin-bottom: 0;
}
.bestseller-books, .see-list, .review-books {
    background: none!important;
}

/* SUPPORT  */
.support-box {
    background: none!important;
    box-shadow: none!important;
}
.support-item {
    flex-basis: 23%;
    color: #121212;
    background: #fff;
    padding: 20px 15px;
    border-radius: 3px;
    text-decoration: none;
}

.support-item:hover {
    color: #f26a19;
}
.support-item:hover i {
    color:#f26a19;
}

.support-icon {
    font-size: 27px;
    margin-right: 10px;
    background: #c9c9c9;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    color: #f26a19;
}
.support-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.support-info {
    text-align: left;
}
.support-title {
    font-size: 16px;
    font-weight: bold;
}
.support-desc {
    font-size: 13px;
}


/* CONTENT */

/* Slider  */

.main-slider img {
    display: block;
    width: 100%;
    height: auto;
}

/* End slider  */

.review-books .section-header {
    background: #16445E;
}





/* ----- count down ------- */
.countdown {
    color: #333;
}
.countdown .day, .countdown .hour, .countdown .minute, .countdown .second {
    display: inline-block;
    padding: 3px 5px;
    background: #eeeeee;
    font-weight: 700;
    border-radius: 3px;
    margin: 3px;
    color: #333;
}

.countdown .colon {
    font-weight: 700;
    color: #333;
}

/* QUOTE  */

.quote-content {
    /* max-width: 1120px;
    margin: 0 auto; */
    font-size: 40px;
    line-height: 67px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
    color: #fff;
    padding: 80px 0px;
    line-height: 1.7;
    font-family: 'Merriweather', serif;
    white-space: nowrap;
}

/* BESTSELLER  */

.bestseller-books {
    text-align: center;
    padding: 0 125px;
}
.bestseller-item {
    background: #fff;
    position: relative;
}

.bestseller-item .book-image{
    padding: 0;
}

.bestseller-item .book-title {
    margin-top: 20px;
}

.bestseller-mark {
    position: absolute;
    top: -15px;
    right: 0;
    background:#FC4B4B;
    color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    transform: skew(0deg, -6deg);
}



/* REVIEW  */

.light-blue-bg {
    background: #DEFBFD;
    padding: 60px 0;
}

.review-books .section-header .section-title {
    color: #fff;
}

.review-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 60px;
}

.review-thumbnail {
    flex-basis: 30%;
    padding: 20px;
    background: #fff;
}

.review-thumbnail img {
    max-width: 100%;
}

.review-info {
    flex-basis: 50%;
    padding: 20px 0;
    position: relative;
}

.review-info .review-title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.author-box {
    margin-bottom: 30px;
}

.author-name {
    font-weight: bold;
}

.review-desc p {
    color: #999999;
}

.review-read-more {
    display: inline-block;
    background: #FC4B4B;
    padding: 7px 27px;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 1px rgb(0 0 0 / 8%);
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;
    transition: .3s ease-out;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
}

.review-read-more:hover {
    background: #d70018;
    text-decoration: none;
    color: #fff;
}

.review-scores {
    flex-basis: 8%;
}

.scores-bg {
    background: #FC4B4B;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
    position: relative;
}

.scores {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 32px;
    font-family: 'Merriweather', serif;
}

.see-list {
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.domestic-book, .foreign-book {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-size: cover;
    flex-basis: 48%;
    height: 200px;
    position: relative;
}

.domestic-book {
    background-image: url("../images/see-list/banner-01.jpg");
}

.foreign-book {
    background-image: url("../images/see-list/banner-02.jpg");
}

.see-list .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.see-list .info h1 {
    font-size: 2.1em;
    margin-bottom: 30px;
}

.see-list .info a {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 7px 27px;
    color: #34495e;
    border-radius: 30px;
    box-shadow: 0 0 1px rgb(0 0 0 / 8%);
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;
    transition: .3s ease-out;
    text-decoration: none;
    border: 1px solid #8e9eae;
    
}

.see-list .info a:hover{
    background: #34495e;
    color: #fff;
    
}

.release-box {
    background: #00cec9;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.release-section-header {
    flex: 1;
}
.release-list-box {
    width: 875px;
}


.bestseller-books .book-info {
    padding: 0;
    padding-bottom: 20px;
}