body {
    margin: 0;
    padding: 0;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn {
    padding: 12px 20px;
    font-family: 'montserrat';
    font-weight: 600;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, #e67e22 50%, #d35400 50%) right;
    background-size: 200%;
    transition: 0.7s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn:hover {
    background-position: left;
}