

/* 


@media (min-width: 768px){
    .section-6 .row {justify-content: space-around;}
    .section-6 .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 19.5%;
    }
    .footer-body .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 11%;
        max-width: 11.333333%;
    }
}

 */










